<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.spacestation.neo-refresh</string>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NASA_API_KEY</key>
	<string>sfh8cSah1YQ3QKdLsFvFpXUQOHnAaQxIeXeEIKK3</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
